[Unit]
Description=Blog Site
After=syslog.target
After=network.target

[Service]
Type=simple
User=www
WorkingDirectory=/var/www/blog
ExecStart=/var/www/blog/env/bin/uwsgi --ini /var/www/blog/shop.ini

RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
