{% extends "base_generic.html" %}

{% block content %}
{% csrf_token %}
<h1>Authors</h1>
  <p>Еще не подписан на:</p>
  <div id="noSubscriptionList"></div>
  <p>Уже подписан на:</p>
  <div id="haveSubscriptionList"></div>
<script type="text/javascript">
  var xhr = new XMLHttpRequest();
  var csrftoken = getCookie('csrftoken');

  xhr.open('GET', 'http://localhost:8000/api/nosubscriptions/', false)
  xhr.send();
  if (xhr.status != 200) {
    // обработать ошибку
    alert( xhr.status + ': ' + xhr.statusText ); // пример вывода: 404: Not Found
  } else {
    var noSubscription = JSON.parse(xhr.responseText).results
    console.log(noSubscription)
    let noSubscriptionList = window.document.querySelector('#noSubscriptionList')
    for (let i in noSubscription) {
      let a = document.createElement('a')
      a.title = noSubscription[i].username
      a.innerHTML = noSubscription[i].username + ' - '
      a.href = 'http://localhost:8000/list/' + noSubscription[i].id + '/'
      let button = document.createElement('button')
      button.setAttribute('id', noSubscription[i].id)
      button.innerText = 'Подписаться'
      button.onclick = function() {
        console.log(this)
        xhr.open('POST', 'http://localhost:8000/api/subscribe/'+ this.id + '/', false);
        xhr.setRequestHeader("X-CSRFToken", csrftoken);
        xhr.send();
        window.location.reload(true)
      }
      noSubscriptionList.appendChild(a)
      noSubscriptionList.appendChild(button)
    }
  }

  xhr.open('GET', 'http://localhost:8000/api/subscriptions/', false);
  xhr.send();
  if (xhr.status != 200) {
    // обработать ошибку
    alert( xhr.status + ': ' + xhr.statusText ); // пример вывода: 404: Not Found
  } else {
    haveSubscription = JSON.parse(xhr.responseText).results
    console.log(haveSubscription)
    let haveSubscriptionList = window.document.querySelector('#haveSubscriptionList')
    // var li = document.createElement('li')
    for (let i in haveSubscription) {
      let a = document.createElement('a')
      a.title = haveSubscription[i].username
      a.innerHTML = haveSubscription[i].username + ' - '
      a.href = 'http://localhost:8000/list/' + haveSubscription[i].id + '/'
      let button = document.createElement('button')
      button.setAttribute('id', haveSubscription[i].id)
      button.innerText = 'Отписаться'
      button.onclick = function() {
        console.log(this)
        xhr.open('POST', 'http://localhost:8000/api/unsubscribe/'+ this.id + '/', false);
        xhr.setRequestHeader("X-CSRFToken", csrftoken);
        xhr.send();
        window.location.reload(true)
      }
      haveSubscriptionList.appendChild(a)
      haveSubscriptionList.appendChild(button)
    }
  }

  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
  }
</script>
{% endblock %}