{% extends "base_generic.html" %}

{% block content %}
{% csrf_token %}
<h1>Authors</h1>
  <p>Еще не подписан на:</p>
  <div id="noSubscriptionList"></div>
  <p>Уже подписан на:</p>
  <div id="haveSubscriptionList"></div>
<script type="text/javascript">
  var xhr = new XMLHttpRequest();
  var csrftoken = getCookie('csrftoken');

  xhr.open('GET', serverAddress + '/api/nosubscriptions/', false)
  xhr.send();
  if (xhr.status != 200) {
    // обработать ошибку
    alert( xhr.status + ': ' + xhr.statusText ); // пример вывода: 404: Not Found
  } else {
    var noSubscription = JSON.parse(xhr.responseText)// .results
    console.log(noSubscription)
    let noSubscriptionList = window.document.querySelector('#noSubscriptionList')
    for (let i in noSubscription) {
      let a = document.createElement('a')
      a.title = noSubscription[i].username
      a.innerHTML = noSubscription[i].username + ' - '
      a.href = serverAddress + '/list/' + noSubscription[i].id + '/'
      let button = document.createElement('button')
      button.setAttribute('id', noSubscription[i].id)
      button.innerText = 'Подписаться'
      button.onclick = function() {
        console.log(this)
        xhr.open('POST', serverAddress + '/api/subscribe/'+ this.id + '/', false);
        xhr.setRequestHeader("X-CSRFToken", csrftoken);
        xhr.send();
        window.location.reload(true)
      }
      let lineBreak = document.createElement('p')
      noSubscriptionList.appendChild(a)
      noSubscriptionList.appendChild(button)
      noSubscriptionList.appendChild(lineBreak)
    }
  }

  xhr.open('GET', serverAddress + '/api/subscriptions/', false);
  xhr.send();
  if (xhr.status != 200) {
    // обработать ошибку
    alert( xhr.status + ': ' + xhr.statusText ); // пример вывода: 404: Not Found
  } else {
    haveSubscription = JSON.parse(xhr.responseText)
    console.log(haveSubscription)
    let haveSubscriptionList = window.document.querySelector('#haveSubscriptionList')
    // var li = document.createElement('li')
    for (let i in haveSubscription) {
      let a = document.createElement('a')
      a.title = haveSubscription[i].username
      a.innerHTML = haveSubscription[i].username + ' - '
      a.href = serverAddress + '/list/' + haveSubscription[i].id + '/'
      let button = document.createElement('button')
      button.setAttribute('id', haveSubscription[i].id)
      button.innerText = 'Отписаться'
      button.onclick = function() {
        console.log(this)
        xhr.open('POST', serverAddress + '/api/unsubscribe/'+ this.id + '/', false);
        xhr.setRequestHeader("X-CSRFToken", csrftoken);
        xhr.send();
        window.location.reload(true)
      }
      let lineBreak = document.createElement('p')
      haveSubscriptionList.appendChild(a)
      haveSubscriptionList.appendChild(button)
      haveSubscriptionList.appendChild(lineBreak)
    }
  }
</script>
{% endblock %}