{% extends "base_generic.html" %}

{% block content %}
{% csrf_token %}
  <p>Непрочитанные посты:</p>
  <div id="main-div"></div>
<script type="text/javascript">
  var xhr = new XMLHttpRequest();
  var csrftoken = getCookie('csrftoken');
  let mainDiv = window.document.querySelector('#main-div')
  var page = {{ page }}

  xhr.open('GET', serverAddress + '/api/list/?page=' + page, false)
  xhr.send();

  if (xhr.status != 200) {
    // обработать ошибку
    alert( xhr.status + ': ' + xhr.statusText ); // пример вывода: 404: Not Found
  } else {
    var next_page = JSON.parse(xhr.responseText).next
    var previous_page = JSON.parse(xhr.responseText).previous
    if (next_page) {
      let link = document.createElement('a')
      link.innerHTML = 'следующая страница-->'
      link.href = next_page.replace('/api', '')
      mainDiv.appendChild(link)
    }
    if (previous_page) {
      let link = document.createElement('a')
      link.innerHTML = '<--предыдущая страница'
      link.href = previous_page.replace('/api', '')
      mainDiv.appendChild(link)
    }

    var posts = JSON.parse(xhr.responseText).results
    for (let i in posts) {
      let div = document.createElement('div')
      let author = document.createElement('p')
      author.innerText = 'Автор: ' + posts[i].author.username + ' - ' + posts[i].created_at
      let title = document.createElement('p')
      title.innerHTML = '<b>' + posts[i].title + '</b>'
      let text = document.createElement('span')
      text.innerText = posts[i].text
      let button = document.createElement('button')
      button.setAttribute('id', posts[i].id)
      button.innerText = 'Прочитано'
      button.onclick = function() {
        console.log(this)
        xhr.open('POST', serverAddress + '/api/mark-read/'+ this.id + '/', false);
        xhr.setRequestHeader("X-CSRFToken", csrftoken);
        xhr.send();
        window.location.reload(true)
      }
      let lineBreak = document.createElement('p')
      let separator = document.createElement('p')
      separator.innerText = '----------------------------------'
      div.appendChild(author)
      div.appendChild(title)
      div.appendChild(text)
      div.appendChild(lineBreak)
      div.appendChild(button)
      div.appendChild(separator)
      mainDiv.appendChild(div)
    }
  }
</script>
{% endblock %}