{% extends "base_generic.html" %}

{% block content %}
{% csrf_token %}
  <p>Все посты подписки:</p>
  <div id="main-div"></div>
<script type="text/javascript">
  var xhr = new XMLHttpRequest()
  var csrftoken = getCookie('csrftoken')
  let mainDiv = window.document.querySelector('#main-div')

  xhr.open('GET', serverAddress + '/api/list-all/', false)
  xhr.send();

  if (xhr.status != 200) {
    // обработать ошибку
    alert( xhr.status + ': ' + xhr.statusText ); // пример вывода: 404: Not Found
  } else {
    var posts = JSON.parse(xhr.responseText).results
    console.log(posts)
    for (i in posts) {
      let div = document.createElement('div')
      let author = document.createElement('p')
      author.innerText = 'Автор: ' + posts[i].author.username + ' - ' + posts[i].created_at
      let title = document.createElement('p')
      title.innerHTML = '<b>' + posts[i].title + '</b>'
      let text = document.createElement('span')
      text.innerText = posts[i].text
      let lineBreak = document.createElement('p')
      let separator = document.createElement('p')
      separator.innerText = '----------------------------------'
      div.appendChild(author)
      div.appendChild(title)
      div.appendChild(text)
      div.appendChild(separator)
      mainDiv.appendChild(div)
    }
  }
</script>
{% endblock %}